body{
    background-image: url(images/Screenshot_20221111_211751.png);
    background-repeat: no-repeat;
    background-size: cover;
    -moz-background-size:cover;
    -webkit-background-size:cover;
    -o-background-size:cover;
    display: flex;
    font-family: 'Montserrat',sans-serif;
    height: 100vh;
    margin: 0 auto;
    color: rgb(255, 255, 255);
    font-style: italic;
    font-weight: bold;
    letter-spacing: 0.5px;
    word-spacing: 1px;
    font-size: 1.3rem;
}